.sidebar {
width: 280px;
  height: 100vh;
  background-color: #041410;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  color: white;
  position: fixed; 
  left: 0;
  top: 0;
  box-sizing: border-box;
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 50px;
}

.sidebar-logo-box {
  background: rgba(52, 211, 153, 0.1);
  padding: 8px;
  border-radius: 10px;
  border: 1px solid rgba(52, 211, 153, 0.2);
}

.sidebar-title .brand {
  display: block;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: -1px;
}

.sidebar-title .subtitle {
  font-size: 9px;
  color: var(--secondary-color);
  letter-spacing: 2px;
}

.nav-section-title {
  font-size: 11px;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.sidebar-nav {
  flex: 1; /* Faz o menu ocupar o espaço central disponível */
  overflow-y: auto; /* Se houver muitos itens, cria um scroll apenas aqui */
  margin-bottom: 20px;
  
  /* Esconde a barra de scroll para um visual mais limpo (opcional) */
  scrollbar-width: none; 
}

.sidebar-nav::-webkit-scrollbar {
  display: none;
}

.sidebar-nav ul {
  list-style: none;
}

.sidebar-nav li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 15px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #a1a1aa;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 5px;
}

.sidebar-nav li.active {
  background: rgba(52, 211, 153, 0.1);
  color: white;
  border-right: 4px solid var(--secondary-color);
}

.sidebar-nav li:hover {
  color: #34d399;
}

.sidebar-footer {
 margin-top: auto; /* Garante que o rodapé "grude" no fim da sidebar */
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #041410
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  background: var(--secondary-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.user-name { font-size: 12px; font-weight: 900; }
.user-role { font-size: 9px; color: var(--secondary-color); }

.btn-logout {
  background: none;
  border: none;
  color: #a1a1aa;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 900;
  font-size: 12px;
  cursor: pointer;
}

.nav-section-group {
  margin-top: 30px;
}

.section-operacional {
  display: flex;
  align-items: center;
  color: #ffffff; 
}

.sidebar-nav li:hover {
  color: var(--secondary-color);
  background: rgba(52, 211, 153, 0.05);
}

.sidebar-footer {
  margin-top: auto;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

